# Godot 4+ specific ignores
.godot/
/android/
/.idea/libraries/GdSdk_Master.xml
/.idea/.gitignore
/.idea/indexLayout.xml
/.idea/vcs.xml
/pingpong.zip
/pingpong/index.apple-touch-icon.png
/pingpong/index.apple-touch-icon.png.import
/pingpong/index.audio.worklet.js
/pingpong/index.html
/pingpong/index.icon.png
/pingpong/index.icon.png.import
/pingpong/index.js
/pingpong/index.pck
/pingpong/index.png
/pingpong/index.png.import
/pingpong/index.wasm
